﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html> 
<head>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.5.1.min.js" type="text/javascript"></script>
</head>
<body>
    <div>
        <h2>Employee Search Page</h2>
    </div>
    
    <div>
        <p>
            Search by name or title below:
        </p>
        
        <input id="search-term" type="text" />
        <input id="submit" type="button" value="Submit">
    </div>
    <p>
        <div id="results">
        </div>
    </p>
</body>
</html>

<script type="text/javascript">
    $('#submit').click(function () {
        var searchTerm = $('#search-term').val();
        debugger;
        $.ajax({
            url: '/api/employees/search/' + searchTerm,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (result) {
                $('#results').html(result);
                debugger;
            },
            error: function (xhr, status, error) {
                $('#results').html("No Results");

            }
        })
    })
</script>