﻿<!DOCTYPE html>
<html>
<body>
    <div>
        <p>
            <h2>Results: </h2>
        </p>
        <table>
            <thead>
                <tr>
                    <th class="">Name</th>
                    <th>Title</th>
                </tr>
            </thead>
            @foreach (var m in Model)
            {
                <tr>
                    <td>
                        @m.Name    
                    </td>
                    <td>
                        @m.Title
                    </td>
                </tr>
            }
        </table>
    </div>
    </body>
</html>